[=tuya=]
type       = tuya
username   = <email address>
password   = <***>
access_id  = xa****************7k
access_key = c5****************************9d
asset_id   = 1*******4
endpoint   = https://openapi.tuyaeu.com

[airam]
baseclass  = =tuya=
device_id  = bf******************0v
code       = switch_1,cur_voltage
interval   = 10

[electricity]
type       = function
sync       = *:00:00
interval   = 1

[monitor]
type       = tuya-client
product_id = dc************ta
uuid       = uuidfa************43
authkey    = Fk****************************Jg
dp-101     = Hello World! This is status!
dp-102     = $electricity.pricenow100
dp-104     = $airam.switch_1
dp-105     = Dashboard messages come here
dp-106     = 03:00-05:00
interval   = 10
